@page "/"

<h1>Blazor Components Test Project</h1>

<div>
    <Counter />
    <Counter />
    <Counter />
</div>

<HeroEditor Hero="@testHero" HeroChanged="OnHeroChanged"/>

@code {
    private Hero testHero = new(5, "Arnold");

    private void OnHeroChanged(Hero hero) {
        testHero = hero;
        Console.WriteLine("Hero changed: " + hero);
    }

}