@page "/"

<h2>Test page for the <code>ArticleComment</code> component</h2>
<div style="width: 50em">
    @foreach (var comment in comments) {
        <BlazorArticleComment Comment="comment"></BlazorArticleComment>
    }
</div>

@code {
    private List<Comment> comments = CreateRandomComments();

    private static List<Comment> CreateRandomComments() =>
        Enumerable.Range(0, 5).Select(i => new Comment(i, $"Content of comment {i}",
            DateTime.Now.AddDays(-1 * i).ToString("O"), new Profile($"User{i}", "", "icon-32.png", false))).ToList();
}
